<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="VisaBulletinFilesRootPath" value="C:\VisaBulletins"/>
	  <add key="smtphost" value="smtp.gmail.com"/>
	  <add key="smtpport" value="587"/>
	  <add key="sender" value="visabulletinagent@gmail.com"/>
	  <add key="password" value="???"/>
	  <add key="receiver" value="visa-bulletin-agent@googlegroups.com"/>
	</appSettings>
</configuration>